*.pyc
*.pyo
*.tmp*
*~
*.bak
*.pyd
*.so
*.exe
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
*.log
.DS_Store
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
sandbox
.installed.cfg
.mr.developer.cfg
.hg
.hgignore
.bzr
.bzrignore
.svn
